<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sean.qjournalv11">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ApplicationActivity">
        <activity
            android:name=".MainActivity"
            android:label="@string/Home_activity_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationPublisher" />

        <service android:name=".NotificationService" />

        <activity
            android:name=".NewGoalActivity"
            android:label="@string/newGoalTitle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowGraphs"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".EditCategoryActivity"
            android:label="@string/categoryActivityTitle" />
        <activity android:name=".Help" />
    </application>

</manifest>